.mainContainer {
  padding: 1rem;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fetch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
